<form name="search" action="" method="get">
                
        <!--create_searchfor_simple()-->
        <input type="hidden" name="ln" value="en" />
        <table class="searchbox simplesearch">
         <thead>
          <tr align="left">
           <th colspan="3" class="searchboxheader">Search for:</th>

          </tr>
         </thead>
         <tbody>
          <tr valign="baseline">
           <td class="searchboxbody" align="left"><input type="text" name="p" size="40" value="" class="simplesearchfield"/></td>
           <td class="searchboxbody" align="left"><select name="f">
                <option value="" selected="selected">any field</option>
                <option value="random">random</option>
                <option value="author">author</option>
                <option value="taxonomy">taxonomy</option>
                <option value="wordnet">wordnet</option>
                </select></td>

           <td class="searchboxbody" align="left">
             <input class="formbutton" type="submit" name="action_search" value="Search" />
             <input class="formbutton" type="submit" name="action_browse" value="Browse" /></td>
          </tr>
          <tr valign="baseline">
           <td class="searchboxbody" colspan="3" align="right">
             <small>

             </small>
           </td>
          </tr>
         </tbody>
        </table>
        <!--/create_searchfor_simple()-->
        
                
                <table cellspacing="0" cellpadding="0" border="0" class="narrowandfocusonsearchbox">
                  <tr>
                    <td valign="top"></td>

               </tr></table>
    </form>